{{!
 if ($this->isLoggedIn):
    <div class="container-fluid pb-3">
        <a href="/event/create">Event erstellen</a>
    </div>
 endif;
}}
<div class="container-fluid">
    <p>Hier bekommt ihr eine Übersicht über alle derzeit laufenden und bereits abgeschlossenen Events</p>
    <p>
        <h4 class="text-decoration-underline">Aktive Events</h4>
        {{activeEvents}}
    </p>
    <p>
        <h4 class="text-decoration-underline">Abgeschlossene Events</h4>
        {{notActiveEvents}}
    </p>
</div>