<div class="container-fluid">
    <h5 class="text-center">Neues Event erstellen</h5>
    <form name="eventCreateForm" action="/event/create" method="post">
        <div class="form-outline form-white">
            <label class="form-label text-white-50" for="name">Event Name</label>
            <?php if (isset($this->validationMessages['name'])): ?>
                <?= "<br />" . $this->partial('app::/partial/validation_error_message', ['data' => $this->validationMessages['name']]); ?>
            <?php endif; ?>
            <input type="text" id="name" name="name" class="form-control form-control-sg" value="<?= $this->name; ?>"/>
        </div>
        <div class="form-outline form-white">
            <label class="form-label text-white-50" for="description">Kurztext</label>
            <?php if (isset($this->validationMessages['description'])): ?>
                <?= "<br />" . $this->partial('app::/partial/validation_error_message', ['data' => $this->validationMessages['description']]); ?>
            <?php endif; ?>
            <input type="text" id="description" name="description" class="form-control form-control-sg" value="<?= $this->description; ?>"/>
        </div>
        <div class="form-outline form-white pb-2">
            <label class="form-label text-white-50" for="eventText">Beschreibung</label>
            <textarea id="eventText" name="eventText" class="form-control form-control-sg"><?= $this->eventText; ?></textarea>
        </div>
        <div class="form-outline form-white">
            <label class="form-label text-white-50" for="startTime">Beginn</label>
            <?php if (isset($this->validationMessages['startTime'])): ?>
                <?= "<br />" . $this->partial('app::/partial/validation_error_message', ['data' => $this->validationMessages['startTime']]); ?>
            <?php endif; ?>
            <input type="datetime-local" id="startTime" name="startTime" class="form-control form-control-sg" value="<?= $this->startTime; ?>"/>
        </div>
        <div class="form-outline form-white">
            <label class="form-label text-white-50" for="duration">Dauer in Tagen</label>
            <?php if (isset($this->validationMessages['duration'])): ?>
                <?= "<br />" . $this->partial('app::/partial/validation_error_message', ['data' => $this->validationMessages['duration']]); ?>
            <?php endif; ?>
            <input type="number" min="1" id="duration" name="duration" class="form-control form-control-sg" value="<?= $this->duration; ?>"/>
        </div>
        <div class="form-outline form-white text-center">
            <button class="btn btn-outline-light btn-lg mt-5" type="submit">Thema erstellen</button>
        </div>
    </form>
</div>
