<h1 class="text-center">{{projectTitle}}</h1>
<p>{{projectDescription}}</p>
<div class="container-fluid">
    <u>
        <li>
            git Repository: <a href="{{projectGitRepository}}" target="_blank">{{projectGitRepository}}
            <i class="fas fa-external-link-alt external"></i></a>
        </li>
        <li>
            Demo Seite: <a href="{{projectDemoPageUri}}" target="_blank">{{projectDemoPageUri}}
            <i class="fas fa-external-link-alt external"></i></a>
        </li>
        <li>
            erstellt am: {{projectCreateTime}}
        </li>
        <li>
            Besitzer: <a href="/user/{{userId}}">{{userName}}</a>
        </li>
    </u>
</div>
<!--
<?php
if ($this->categoryRating):
?>
<div class="container-sm">
    <?php
        foreach ($this->categoryRating as $rating):
    ?>
    <div class="row">
        <div class="col-2"><?= $rating->getTitle(); ?>:</div>
        <div class="col-2"><?= $rating->getRatingResult(); ?></div>
    </div>
    <?php
        endforeach;
        ?>
    <div class="row">
        <div class="col-2">Gesamt:</div>
        <div class="col-2"><?= $this->ratingResult; ?></div>
    </div>
</div>
<?php
endif;
?>
-->