<?php $this->headTitle('User Register');

?>
<div class="container w-75">
    <h4 class="fw-bold text-center">Account erstellen</h4>
    <form name="registerBox" action="/user/register" method="post">
        <div class="form-outline form-white py-2">
            <label class="form-label text-white-50" for="userName">Benutzername</label>
            <?php if (isset($this->validationMessages['userName'])): ?>
                <?= "<br />" . $this->partial('app::/partial/validation_error_message', ['data' => $this->validationMessages['userName']]); ?>
            <?php endif; ?>
            <input type="text" id="userName" name="userName" value="<?= $this->userName; ?>" class="form-control form-control-sg"/>
        </div>
        <div class="form-outline form-white py-2">
            <label class="form-label text-white-50" for="password">Passwort</label>
            <?php if (isset($this->validationMessages['password'])): ?>
                <?= "<br />" . $this->partial('app::/partial/validation_error_message', ['data' => $this->validationMessages['password']]); ?>
            <?php endif; ?>
            <input type="password" id="password" name="password" class="form-control form-control-sg"/>
        </div>
        <div class="form-outline form-white py-2">
            <label class="form-label text-white-50" for="email">E-Mail <span class="text-smaller">(optional)</span> </label>
            <?php if (isset($this->validationMessages['email'])): ?>
                <?= "<br />" . $this->partial('app::/partial/validation_error_message', ['data' => $this->validationMessages['email']]); ?>
            <?php endif; ?>
            <input type="email" id="email" name="email" value="<?= $this->email; ?>" class="form-control form-control-sg"/>
        </div>
        <div class="form-outline form-white py-2 text-center">
            <button class="btn btn-outline-light btn-lg px-5" type="submit">Registrieren</button>
        </div>
    </form>
</div>
