.idea/
/tests/behat.yml
/tests/.phpunit.result.cache
/vendor/
/public/assets/*
*.cache
*.phar
.ddev
/public/*.html
/database/structure/update*.sql
/public/api/doc/swagger.json
coverage.xml
/.phpcs-cache
/.phpunit.result.cache
/clover.xml
/coveralls-upload.json
/public/test.php
/tmp
.env
