.idea/
/tests/behat.yml
/tests/.phpunit.result.cache
/vendor/
/client/node_modules/
/public/assets/*
*.cache
*.phar
.ddev
/public/*.html
/database/structure/update*.sql
/public/api/doc/swagger.json
/.env
coverage.xml
