parameters:
	level: 6
	phpVersion: 80400
	paths:
		- src
	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
	checkUninitializedProperties: true
	checkExplicitMixed: true
	reportUnmatchedIgnoredErrors: true
	tips:
		treatPhpDocTypesAsCertain: false
	excludePaths:
		- tests/*
		- tests
includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
