parameters:
	level: 6
	paths:
		- src
	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
	bootstrapFiles:
	    - constants.php
includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
