<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler text-white-50 fas fa-bars" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedEvent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedEvent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/event">Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#Team">Aktiv</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#blog">Abgeschlossen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#about">Über uns</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>