<?php declare(strict_types=1);

return [
    'database' => [
        'host' => 'ddev-hackathon-db',
        'port' => '3306',
        'user' => 'db',
        'password' => 'db',
        'name' => 'db',
        'error' => PDO::ERRMODE_EXCEPTION,
    ]
];
