<?php declare(strict_types=1);

return [
    'database' => [
        'host' => '127.0.0.1',
        'port' => '3306',
        'user' => 'root',
        'password' => 'root',
        'name' => 'blackjam',
        'error' => PDO::ERRMODE_EXCEPTION,
    ]
];
