<div class="container-fluid">
    <ul>
        <li>Benutzername: {{userName}}</li>
        <li>Registriert am: {{registrationTime}}</li>
        <li>Letzer Login: {{lastLogin}}</li>
        <li>Aktiviert: {{active}}</li>
    </ul>
</div>
