<!doctype html><html lang="de"><head><meta charset="utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge"/><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/><meta name="robots" content="noindex"/><meta name="description" content="Project for the evaluation of the held Hackathon on the Discord server of BlackScorp."/><meta name="theme-color" content="#1a1e21"/><link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"/><title>(Black) Hackathon - Project for the evaluation of the held Hackathon Events</title><link href="/assets/css/app.f83e495b.css" rel="stylesheet"></head><body><div id="app"></div><script defer="defer" src="/assets/js/chunk-vendors.5eacb8e1.js"></script><script defer="defer" src="/assets/js/app.b32b3aff.js"></script></body></html>