name: Production Deployment

on:
  release:
    types: [ published ]

jobs:
  deployment_of_hackathon_to_production:
    env:
      VUE_APP_API_BASE_URL: 'https://hackathon.exdrals.de'
    runs-on: ubuntu-20.04
    steps:
      - name: Get latest code
        uses: actions/checkout@v2

      - name: Use Node.js 19
        uses: actions/setup-node@v2
        with:
          node-version: '19'

      - name: Install Composer Dependencies
        run: composer install --prefer-dist --no-progress --no-suggest --no-dev

      - name: Run create openapi Data
        run: composer run-script openapi

      - name: FTP Deploy to Production Server (Staging)
        uses: SamKirkland/FTP-Deploy-Action@4.3.2
        with:
          server: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USER }}
          password: ${{ secrets.PROD_PASSWORD }}
          exclude: |
            **/.git*
            **/*.dist
            **/*.dist/**
            **/.git*/**
            **/bin/**
            **/tests/**
            **/config/autoload/**
            **/config/migrations/**
            **/node_modules/**
            **/client/**
            **/database/**
            **/scripts/**
            **/tests/**
            **/docker/**
            **/public/assets/**
            **/public/index.php
